.navbar-container{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 1rem 0;
}

.logo{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
   
    font-weight: 700;
}
.nav-links-container{
    display: flex;
    align-items: center;
}

.cart-link{
    display: inline-block;
    padding-left: 17px;
    cursor: pointer;
}


.nav-links,.nav-links-dark{
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding-left: 20px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width:412px){
    .navbar-container{
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        padding: 0.5rem 0;
    }
    
    .logo{
        font-size: 1rem;
        color: Aqua;
        text-decoration: none;
       
        font-weight: 700;
    }
    .nav-links-container{
        display: flex;
        align-items: center;
    }
    
    .cart-link{
        display: inline-block;
        padding-left: 10px;
        cursor: pointer;
    }
    
    
    
    
    .nav-links,.nav-links-dark{
        color: #fff;
        text-decoration: none;
        font-size: 0.7rem;
        padding-left: 10px;
        transition: 0.2s ease-in;
        cursor: pointer;
    }

    .nav-links:hover{
        color:var(--primary-color);
    }
    
    
}


.nav-links-dark{
    color: #333;
}

.nav-links:hover{
    color:var(--primary-color);
}

.nav-links-dark:hover{
    color:var(--primary-color);
}

.background-dark{
    background-color: #333;
}

.background-transperent{
    background-color: transparent;
}

.relative{
    position: relative !important;
}